:root {
  --bg: rgb(244, 246, 254);
  --blue: rgb(73, 122, 238);
  --orange: rgb(238, 144, 73);
  --red: rgb(238, 73, 98);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  background: var(--bg);
}

.blue-color {
  color: var(--blue);
}

.orange-color {
  color: var(--orange);
}

.red-color {
  color: var(--red);
}

.bg-blue {
  background: var(--blue);
}

.bg-orange {
  background: var(--orange);
}

.bg-red {
  background: var(--red);
}

.box-radius {
  border-radius: 2rem;
}

.btn-radius,
.input-radius {
  border-radius: 1rem;
}

.pointer {
  cursor: pointer;
}
